.print {
	display: none;
}
.error {
	display: none;
}

@media print {
	@font-face {
		font-family: BebasNeue;
		src: url(fonts/BebasNeue.otf);
	}
	@font-face {
		font-family: AgencyFB;
		src: url(fonts/AgencyFB-Bold.ttf);
	}
	@font-face {
		font-family: Eurostile_Bold;
		src: url(fonts/Eurostile-LT-Bold.ttf);
	}	
	@font-face {
		font-family: TradeGothic;
		src: url(fonts/TradeGothicLTB.otf);
		font-family: TradeGothic;
		src: url(fonts/TradeGothicLTB.otf);
	}

	@page {
	   size: 7in 9.25in;
	   margin: 27mm 16mm 27mm 16mm;
	}
	.input_text {
		top: -155px;
		left: 36px;
		opacity: 1;
		width: 92px;
		height: 140px;
		text-align: center;
		position: relative;
	}
	.store {
		top: 0px;
		position: absolute;
	}
	.customer {
		top: 400px;
		position: absolute;
		height:200px;
	}
	.border {
		border: 1px black dashed; 
		top: 300px;
		z-index: 100;
		position: relative;
	}
	.store_shirt_position { 
		top: 0px;
		left: 340px;
		position: absolute;
		height: 200px;
	}
	.customer_shirt_position { 
		top: 0px;
		left: 340px;
		position: absolute;
		height: 200px;
	}
	.store_fields {
		top: 0px;
		position: absolute;
	}
	.customer_fields {
		top: 0px;
		position: absolute;
	}
	.store_time {
		top: 240px;
		position: absolute;
	}
	.customer_time {
		top: 240px;
		position: absolute;
	}
	.grey {
		background-color: #4d5d6f !important;
		-webkit-print-color-adjust: exact; 
	}
	.black {
		background-color: black !important;
		-webkit-print-color-adjust: exact; 
	}
	.pink {
		background-color: #f3d3e8 !important;
		-webkit-print-color-adjust: exact; 
	}
	.white {
		background-color: white !important;
		-webkit-print-color-adjust: exact; 
	}
}



